[Unit]
Description=Solar Pi Gardener Service

[Service]
Type=simple
ExecStart=/var/www/html/solarpigardener/gardener_daemon.py
Restart=on-abort

[Install]
WantedBy=multi-user.target