{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h3>Control Pump</h3>
    <b>Select duration (in minutes)</b>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group btn-group-lg" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/pump?mins=5'">5</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/pump?mins=10'">10</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/pump?mins=15'">15</button>
    </div>
</div>
{% endblock %}
