{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h3>Please Log in:</h3>

        {% if session['logged_in'] %}
        You are already logged in.
        {% else %}
        <form action="/login" method="POST">
        {{ form.csrf_token }}
        <table border="0" cellpadding="5">
        <tr>
            <td>{{ form.username.label }} {{ form.username }}</td>
            <td>{{ form.password.label }} {{ form.password }}</td>
        <tr>
            <td>{{ form.submit }}</td>
        </tr>
        </form>
        {% endif %}


    </div>
    {% endblock %}
