{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h3>Watering Schedule</h3>
<table border="1">
<tr>
<td><strong>Day</strong></td>
<td><strong>Inches of Water</strong></td>
<td><strong>Water Time</strong></td>
</tr>
{% for day in schedule %}
<tr{% if today == day[0] %} bgcolor="gray"{% endif%}>
<td>{{ day[0] }}</td>
<td align="right">{{ day[1] }}</td>
<td align="right">{{ day[2] }}</td>
</tr>
{% endfor %}
<tr>
<td><strong>Total Application</strong></td>
<td align="right"><strong>{{ total_inches }}</strong></td>
<td align="right"><strong>{{ total_water_mins_per_day }}</strong></td>
</tr>
</table>
</div>
{% endblock %}
