{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
<h3>Watering Schedule</h3>
Watering time: {{ water_time }}<br>
Desired water application per week: {{ total_inches }}" ({{ total_water_mins_per_day }} mins)<br>
<ul class="list-group">
{% for day in schedule %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{ day[1] }}, {{ day[2] }}&emsp;
    <span class="badge badge-primary badge-pill">{% if day[5] != "" %}{{ day[5] }} ({{ day[3] }}"){% endif%}</span>
  </li>
{% endfor %}
</ul>
<br>
<button type="button" onclick="window.location.href = '/'" class="btn btn-dark">Go Back</button>
{% endblock %}